/* Los estilos de tu proyecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.navbar-background {
  background-color: white;
  border: none;
}

.navbar-container {
  height: 10vh;
  /*border: 3px solid yellow;*/
  margin: 10px 50px 0 50px;
}

.car-row {
  background-image: url(../assets/images/taxi.jpg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.car-text {
  background-color: #F7B617;
  float: right;
  margin-top: 200px;
}

.car-mobile {
  margin: 20px;
  font-weight: bolder;
  color: white;
  height: 200px;
  text-align: left;
}

.logo-car {
  width: 70px;
  height: 16px;
}
.btn-car-mobile {
  background-color: white;
  border-color: white;
  font-weight: bolder;
  color: black;
}

.start-trip {
  font-weight: bolder;
  margin-top: 50px;
  font-size: xx-large;
  line-height: 1.5;
}
 
@media (min-width: 768px) {
  .car-mobile {
    display: none;
  }
}


